<div class="column-container">
  <div class="column-element-logo">
    <button mat-icon-button class="icon-button" [routerLink]="['/']">
      <img src="assets/logo.png" class="sideLogo">
    </button>
  </div>
  <div class="column-element">
    <button mat-icon-button class="icon-button">
      <mat-icon class="icon">home</mat-icon>
    </button>
  </div>
  <div class="column-element">
    <button mat-icon-button class="icon-button">
      <mat-icon class="icon">shop</mat-icon>
    </button>
  </div>
  <div class="column-element">
    <button mat-icon-button class="icon-button">
      <mat-icon class="icon">store</mat-icon>
    </button>
  </div>
  <div class="column-element">
    <button mat-icon-button class="icon-button">
      <mat-icon class="icon">search</mat-icon>
    </button>
  </div>
</div>