<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="icon">feedback</mat-icon>
    </div>
    <mat-card-title>Reviews</mat-card-title>
    <mat-card-subtitle>You can add at the bottom</mat-card-subtitle>
  </mat-card-header>
  <!-- <img mat-card-image class="card-image" src="{{restaurant.imageUrl}}" alt="Photo of a Thing"> -->
  <mat-card-content>
    Shit resturant 5/5
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary">Add review</button>
  </mat-card-actions>
</mat-card>