.home-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 2fr;
    // background: green;
}

.search-container {
    grid-column: 1 / 2;
    grid-row: 1;
    // background: red;
}

.list-container {
    grid-column: 2 / 3;
    grid-row: 1;
    // background: blue;

    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}

.mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #FFCA28;
}

.my-slider {
	width: 100%;
}
.search-divider {
    margin: 10px 0px;
}